<h2>show me</h2>

<div>
    <form>
      <div class="form-group">
        <label for="search">Search</label>
        {{input value=search id="search"}}
      </div>
      <button class="btn btn-primary" {{action 'musicSearch'}}>Search</button>
    </form>
</div>



<!-- <ul>
  {{#each model.results as |artist|}}
  {{artist.name}}
  {{/each}}
</ul> -->
