<h2>Music App</h2>


{{music-search model=model musicSearch="musicSearch"}}


<!-- <div>
    <form>
      <div class="form-group">
        <label for="search">search</label>
        {{input value=search id="search"}}
      </div>
      <button class="btn btn-primary" {{action 'search'}}>Submit</button>
    </form>
</div> -->
